@page
@using Web.Extensions
@model Web.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Web Boilerplate</title>
        <link rel="stylesheet" href="@Url.StaticContentVersioned("~/css/main.css")"/>
    </head>
    <body>
    <div id="container">
    </div>
        <script type="text/javascript" src="@Url.StaticContentVersioned("~/js/vendor.js")"></script>
        <script type="text/javascript" src="@Url.StaticContentVersioned("~/js/main.js")"></script>
    </body>
</html>