@page
@model Web.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Web Boilerplate</title>
        <link rel="stylesheet" versioned-href="~/css/main.css"/>
    </head>
    <body>
        <div id="container">
        </div>
        <script type="text/javascript" versioned-src="~/js/vendor.js"></script>
        <script type="text/javascript" versioned-src="~/js/main.js"></script>
    </body>
</html>
